
# CONFIGURACIÓN GENERAL

PORT=3000


# BASE DE DATOS NoSQL (MongoDB)

MONGO_URI=mongodb://127.0.0.1:27017/your_database_name


# BASE DE DATOS SQL (MySQL)

MYSQL_HOST=localhost
MYSQL_USER=your_userame
MYSQL_PASSWORD=your_password
MYSQL_DB=your_database_name
MYSQL_PORT=3306